Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**


*   List popular languages for Data Scientist
*   List commonly used libraries used by Data Scientists

*   List comonly used Data Science Tools

## Author
SANKET NADARGI

Some of the popular languages that Data Scientists use are:



*   Python
*   R

*   SQL

Some of the commonly used libraries used by Data Scientists include:



*   pandas

*   numpy

*   seaborn
*   matplotlib


*   sckit-learn


*   scipy

*   pytorch

DATA SCIENNCE TOOLS



*   SPYDER

*   Visual Studio
*   Google COlab


*   Data Spell

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:

 #This a simple arithmetic expression to mutiply then add integers
 (3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
min = int(200)
h = min // 60
m= min % 60
print("Hours",h)
print("Minutes",m)

Hours 3
Minutes 20